@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb)); */

  /* background-image: url('/bg-image.jpg'); */
  /* background-image: url('/profile-image.jpg');
  background-size: fit;
  background-repeat: no-repeat; */
  background-image: linear-gradient(to right bottom, #f4ac8b, #efb18d, #e9b591, #e4b995, #dfbd9a, #dfbd9a, #dfbd9a, #dfbd9a, #e4b995, #e9b591, #efb18d, #f4ac8b);
}

.background-image {
  position: fixed;
  background-image: url('/profile-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(30px);
  -webkit-filter: blur(30px);
  height: 100%;
  width: 100%;
}

.glass-container {
  background-image: url('/profile-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.main-background {
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

.fill-available-height {
  height: -webkit-fill-available;
  height: -moz-available;
}

.fill-available-width {
  width: -webkit-fill-available;
  width: -moz-available;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s;
}

.h-inherit {
  height: inherit;
}

.thin-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.thin-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.thin-scroll::-webkit-scrollbar-thumb {
  background: transparent;   /* #a8a8a8c7; */
}
.thin-scroll:hover::-webkit-scrollbar-thumb {
  background: rgba(125, 125, 125, 0.3);
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.timeline-left > li {
  --timeline-col-start: 4rem !important;
  --timeline-row-start: 0.8rem !important;
}

.timeline-left-start {
  align-self: start !important;
  margin-top: 0.8rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 25px;
}

@layer components {
  .app-sidebar {
    position: sticky;
    top: 60px;
    margin-bottom: 60px;
    width: fit;
    z-index: 1;
  }
  
  .app-content {
    position: relative;
    width: 700px;
    top: 60px;
    margin-bottom: 60px;
    z-index: 1;
  }

  .app-h-calc-vh {
    min-height: calc(100vh - 120px);
  }
  
  .sticky-floating-filter {
    float: right;
    position: sticky;
    top: 60px;
    right: 0;
    margin-right: -55px;
  }

  .shimmer {
    @apply before:absolute before:inset-0 before:-translate-x-full before:animate-[shimmer_2s_infinite] before:bg-gradient-to-r before:from-transparent before:via-white/10 before:to-transparent
  }

  @screen xl {
    .app-sidebar {
      @apply relative mb-1 w-full
    }
    
    .app-content {
      @apply w-full
    }
  }

  @screen sm {
    .app-sidebar {
      @apply fixed top-0 mb-0 z-10 backdrop-blur-xl
    }
    
    .app-content {
      @apply w-full overflow-y-auto top-[112px] mb-[64px]
    }
    
    .shadow-lg-inverse {
      box-shadow: 0 -10px 15px -3px rgb(0 0 0 / 0.1), 0 -4px 6px -4px rgb(0 0 0 / 0.1);
    }
    
    .sticky-floating-filter {
      @apply fixed bottom-[65px] h-fit mr-0 mt-auto z-10
    }
  }
}

/* Sidebar */
.sidebar {
  position: sticky;
  top: 60px;
  /* max-height: max-content; */
  /* height: 100%;
  height: -webkit-fill-available;
  height: -moz-available; */
  margin-bottom: 60px;
  /* padding-top: 60px; */
  z-index: 1;
  /* max-height: 500px; */
}

/* Content */
.content {
  position: relative;
  width: 700px;
  /* height: -webkit-fill-available; */

  top: 60px;
  margin-bottom: 60px;
  /* padding-top: 30px; */
  z-index: 1;
}

.h-stretch-vw {
  min-height: calc(100vh - 120px);
  /* max-height: calc(100% - 120px); */
}

.h-stretch {
  height: calc(100% - 120px);
  min-height: calc(100% - 120px);
  max-height: calc(100% - 120px);
}
